<div class="container-fluid">
  <div class="flex-container">
    <div class="item">
      <h1>MONITOREO</h1>
    </div>
    <div class="item"></div>
  </div>

  <div class="flex-container">
    <div class="item">
      <h2>{{ this.id | titlecase }} añadidos</h2>
    </div>
    <div class="item">
      <button class="btn btn-light boton-2" type="button">
        <img src="assets/imgs/icons/filter.svg" alt="icon_filter" />
        Filtrar por
      </button>
    </div>
  </div>

  <div class="flex-container">
    <div class="item">
      <h1>Lista de {{ this.id | titlecase }}</h1>
    </div>
    <div class="item"></div>
  </div>

  <div class="compresores">
    @if (screen1) {
    <div class="row">
      @for (item of equipos; track $index) {

      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-6 mb-2">
        <div class="card">
          <div class="card-body card-mantenimiento">
            <div class="imagen">
              <img [src]="item.imagen" alt="img_comprensor" style="width: 75px; height: 100px; object-fit: contain" />
            </div>
            <div class="info-1">

              <h1>{{ this.id === "variadores" ? "Variadores" : "PM" }}:</h1>
              <h2>{{ item.nombre }}</h2>

              <p>
                <img src="assets/imgs/icons/clock.svg" alt="img_clock" style="margin-right: 0.4rem" />{{ fechaActual |
                date : "dd/MM/yyyy | hh:mm:ss" }}
              </p>


              <button class="btn boton-1" (click)="navegar(item.ip)">
                Visualizar {{ this.id === "variadores" ? "Variador" : "PM" }}
              </button>
            </div>
            <div class="info-2">
              <h1>Modelo:</h1>
              <h2>{{ item.modelo }}</h2>

              <div *ngIf="item.tipo === 'variador'" class="estado-variador mt-2">
                <span [ngClass]="{
                    'estado-run': item.estado === 'RUN',
                    'estado-falla': item.estado === 'FALLA',
                    'estado-ready': item.estado === 'READY'
                  }">
                  <i class="fa-solid" [ngClass]="{
                      ' text-success': item.estado === 'RUN',
                      ' text-danger': item.estado === 'FALLA',
                      'text-warning': item.estado === 'READY'
                    }"></i>
                  Estado: {{ item.estado }}
                </span>
              </div>
            </div>
            <div class="info-3">
              <h1>Número de serie:</h1>
              <h2>{{ item.serie }}</h2>

              <h1>Nombre Equipo:</h1>
              <h2>{{ item.nombre }}</h2>
            </div>
            <div class="info-4">
              <h1>Área:</h1>
              <h2>#{{ item.area | uppercase }}</h2>

              <h1>IP:</h1>
              <h2>{{ item.ip }}</h2>
            </div>
            <!-- Mostrar estado solo si es tipo variador -->
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>