<div class="filters" [formGroup]="filterForm">
  <div class="item">
    <label>Buscar</label>
    <div class="input-group mb-3" style="width: 20rem">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar..."
        formControlName="valorInpiut"
        (input)="filtrar()"
      />
    </div>
  </div>
  <!--  <div class="item">
    <div class="custom-select" style="margin-top: 7.5px">
      <label>EVENTO</label>
      <select
        class="form-select"
        style="border: 1px solid black"
        formControlName="evento"
      >
        <option value="">Seleccione...</option>
        <option *ngFor="let item of eventos" [value]="item.nombre">
          {{ item.nombre }}
        </option>
      </select>
    </div>
  </div> -->
  <div class="item">
    <div class="custom-select" style="margin-top: 7.5px">
      <label>ESTADO</label>
      <select
        class="form-select"
        style="border: 1px solid black"
        formControlName="estado"
      >
        <option value="">Seleccione...</option>
        <option *ngFor="let item of estadoAlarma" [value]="item.code">
          {{ item.nombre }}
        </option>
      </select>
    </div>
  </div>

  <button
    class="btn"
    style="
      height: 2.7rem;
      margin-top: 7px;
      background-color: #6aabec;
      color: white;
    "
    (click)="filtrar()"
  >
    <!--   <i class="fa fa-search" aria-hidden="true"></i> -->
    Buscar
  </button>
</div>
<div class="table-responsive">
  <table class="table align-middle table-bordered table-bordered-sides">
    <thead>
      <tr>
        @for (item of headers; track $index) {
        <th>{{ item }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of valoresCopia; track $index) {
      <tr>
        <td>
          {{ item.codigo }}
        </td>
        <td>
          {{ item.tiempo }}
        </td>
        <td>
          {{ item.condicion }}
        </td>
        <td
          [ngClass]="{
            'alarma-danger': item.estado === 'Pendiente',
            'alarma-success': item.estado === 'Atendido'
          }"
        >
          {{ item.evento }}
        </td>
        <td>
          {{ item.estado }}
        </td>
        <td>
          {{ item.valor }}
        </td>
        <td>
          {{ item.usuario }}
        </td>
        <td style="text-align: center">
          <button
            [disabled]="item.estado === 'Atendido'"
            type="button"
            class="btn btn-warning"
            style="margin-right: 5px; color: white"
            title="Aplazar"
            (click)="openModal(aplazar_modal)"
          >
            Aplazar
          </button>
        </td>
        <td>
          <button
            class="btn"
            [disabled]="item.estado === 'Atendido'"
            [ngClass]="{
              'btn-secondary': item.estado === 'Atendido',
              'btn-1': item.estado === 'Pendiente'
            }"
            (click)="openModal(reconocer_modal)"
          >
            {{ item.estado === "Atendido" ? "Reconocida" : "Reconocer" }}
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #reconocer_modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reconocer Alarma</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12 form-group">
          <label for="titulo">Acción que se tomara ante la alarma:</label>
          <textarea class="form-control" id=""></textarea>
        </div>
      </div>

      <!-- Botón de submit -->
      <div class="button-contianer" style="text-align: right; margin: 10px 0px">
        <button
          type="submit"
          class="btn btn-secondary"
          style="margin-right: 10px"
          (click)="closeModal()"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="reconocerAlarmar()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #aplazar_modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aplazar alarma</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div
          class="col-12 form-group"
          style="
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
          "
        >
          <label for="titulo">Aplazar durante:</label>
          <timepicker
            [(ngModel)]="myTime"
            [showMeridian]="isMeridian"
            [showSpinners]="showSpinners"
          ></timepicker>
        </div>
      </div>

      <!-- Botón de submit -->
      <div class="button-contianer" style="text-align: right; margin: 10px 0px">
        <button
          type="submit"
          class="btn btn-secondary"
          style="margin-right: 10px"
          (click)="closeModal()"
        >
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" (click)="aplazarAlarma()">
          Aplazar
        </button>
      </div>
    </form>
  </div>
</ng-template>
