<div class="flex-container">
  <div class="item">
    <h1>Alarmas</h1>
  </div>
  <div class="item"></div>
</div>

<div class="filters">
  <div class="item">
    <app-search [label]="'Buscar Alarma'" (searchText)="textoFiltrado($event)"></app-search>
  </div>
  <div class="item">
    <app-select [labelDisabled]="'Seleccione...'" [lista]="estadoAlarma"
      (opcionEvent)="opcionSeleccionada($event)"></app-select>
  </div>
</div>

<div class="table-responsive">
  <table class="table align-middle table-bordered table-bordered-sides">
    <thead>
      <tr>
        @for (item of headers; track $index) {
        <th>{{ item | uppercase }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of valoresCopia; track $index) {
      <tr>
        <td>
          {{ item.codigo }}
        </td>
        <td>
          {{ item.tiempo }}
        </td>
        <td>
          {{ item.condicion }}
        </td>
        <td [ngClass]="{
            'alarma-danger': item.estado === 'Pendiente',
            'alarma-success': item.estado === 'Atendido'
          }">
          {{ item.evento }}
        </td>
        <td>
          <p [ngClass]="{
            'alarma-pendiente': item.estado === 'Pendiente',
            'alarma-atentido': item.estado === 'Atendido'
            }">
            {{ item.estado | uppercase }}
          </p>
        </td>
        <td>
          {{ item.valor }}
        </td>
        <td>
          {{ item.usuario }}
        </td>
        <td style="text-align: center">
          <button [disabled]="item.estado === 'Atendido'" type="button" class="btn" title="Aplazar"
            (click)="openModal(aplazar_modal)">
            <img src="assets/imgs/icons/aplazar.svg" alt="img_notificacion">
          </button>
        </td>
        <td>
          <button class="btn" [disabled]="item.estado === 'Atendido'" [ngClass]="{
              'btn-2': item.estado === 'Atendido',
              'btn-1': item.estado === 'Pendiente'
            }" (click)="openModal(reconocer_modal)">
            {{ (item.estado === "Atendido" ? "Reconocida" : "Reconocer") | uppercase }}
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #reconocer_modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Reconocer Alarma</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12 form-group">
          <label for="titulo">Acción que se tomara ante la alarma:</label>
          <textarea class="form-control" id=""></textarea>
        </div>
      </div>

      <!-- Botón de submit -->
      <div class="button-contianer" style="text-align: right; margin: 10px 0px">
        <button type="submit" class="btn btn-secondary" style="margin-right: 10px" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" (click)="reconocerAlarmar()">
          Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #aplazar_modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aplazar alarma</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12 form-group" style="
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
          ">
          <label for="titulo">Aplazar durante:</label>
          <timepicker [(ngModel)]="myTime" [showMeridian]="isMeridian" [showSpinners]="showSpinners"></timepicker>
        </div>
      </div>

      <!-- Botón de submit -->
      <div class="button-contianer" style="text-align: right; margin: 10px 0px">
        <button type="submit" class="btn btn-secondary" style="margin-right: 10px" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" (click)="aplazarAlarma()">
          Aplazar
        </button>
      </div>
    </form>
  </div>
</ng-template>