@import "./../../../../styles.scss";

.container-header {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
        ". options";
    background: #fff;
    padding: .25rem;

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items: center;
        grid-template-areas:
            "avatar notificacion opcion";
        grid-area: options;

        .avatar {
            grid-area: avatar;
        }

        .notificacion {
            grid-area: notificacion;
        }

        .opcion {
            grid-area: opcion;
        }
    }
}

/** IMAGEN */
.image-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    display: block;
    width: 28px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: 28px;
    /* Ajusta el tamaño de la imagen según sea necesario */
}