<div class="container-header">
    <div class="search">
        <form [formGroup]="formularioBusqueda">
            <div class="search-container">
                <button readonly><img src="assets/imgs/header/search.svg"></button>
                <input formControlName="search" type="text" placeholder="Buscar">
            </div>
        </form>
    </div>
    <div class="options">
        <div class="avatar">
            <button class="image-button">
                <img src="assets/imgs/header/notificacion.svg" alt="Botón de Imagen">
            </button>
        </div>
        <div class="notificacion">
            <button class="image-button">
                <img src="assets/imgs/header/notificacion.svg" alt="Botón de Imagen">
            </button>
        </div>
        <div class="opcion">
            <button class="image-button">
                <img src="assets/imgs/header/hamburguesa.svg" alt="Botón de Imagen">
            </button>
        </div>
    </div>
</div>