<div class="container-header">
    <div class="search">
        <app-search [label]="'Buscar'" (searchText)="busqueda($event)"></app-search>
    </div>
    <div class="options">
        <div class="avatar">
            <button class="image-button">
                <img src="assets/imgs/header/notificacion.svg" alt="img_notificacion">
            </button>
        </div>
        <div class="notificacion">
            <button class="image-button">
                <img src="assets/imgs/header/notificacion.svg" alt="img_notificacion">
            </button>
        </div>
        <div class="opcion">
            <button class="image-button">
                <img src="assets/imgs/header/hamburguesa.svg" alt="img_opcion">
            </button>
        </div>
    </div>
</div>