@import './../../../styles.scss';

.container {
  margin-top: 4rem;
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .form {
  margin-top: 30px;

  .header {
    text-align: center;

    .logo {
      text-align: center;
      width: 5rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: 2px solid $color-borde-icono;
      border-radius: 50%;
      margin-bottom: 2rem;
    }

    h1,
    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 38.09px;
      text-align: center;
    }

    h2 {
      font-size: 16px;
    }
  }
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.boton-1 {
  height: 46px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  /* Línea del divisor */
  margin: 20px 0;
  /* Espacio superior e inferior */
  position: relative;
}

.divider span {
  background-color: #fff;
  /* Fondo del texto para que se superponga al divisor */
  padding: 0 10px;
  /* Espacio alrededor del texto */
  font-weight: bold;
  color: #7A7A9D;
  font-size: 12px;
  /* Color del texto */
  position: relative;
  z-index: 1;
  /* Asegura que el texto esté por encima del divisor */
}

.divider::before {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #7A7A9D;
  margin-right: 10px;
}

.divider::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #7A7A9D;
  margin-left: 10px;
}