<div class="container">

  <div class="card">
    <div class="card-body">
      <form action="#" class="form">
        <div class="header">
          <img class="logo" src="assets/imgs/navbar/nip-icono.png" alt="icono_nip">

          <h1>¡Bienvenido/a a Prisma Control!</h1>
          <h2>Ingresar sus datos para continuar</h2>
        </div>


        <div class="row">

          <form action="" [formGroup]="loginForm" class="form">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
              <div class="input-box">
                <label for="correo">Email o número de teléfono</label>
                <input formControlName="correo" type="text" placeholder="Escribir email o número de teléfono"
                  required />
              </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mb-4">
              <div class="input-box">
                <label for="clave">Contraseña</label>
                <input formControlName="clave" type="password" placeholder="Escribir contraseña" required />
              </div>
            </div>

            <div
              style="display: flex; justify-content: center; width: 100%; align-items: center; background-color: red;">
              <button (click)="login()" class="btn boton-1">Iniciar Sesión</button>
            </div>
          </form>


          <!-- <div class="col-12 mb-4">
            <div class="divider">
              <span>O iniciar sesión por las siguientes alternativas</span>
            </div>
          </div> -->
        </div>

      </form>
    </div>
  </div>

</div>