@import './../../../styles.scss';

.header {
  text-align: center;

  .logo {
    text-align: center;
    width: 5rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: 2px solid $color-borde-icono;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  h1,
  h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 38.09px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }
}

// Extra Small devices (phones, less than 576px)
@media screen and (max-width: 575.98px) {

  .card {
    border: none !important;
    box-shadow: none !important;
  }

  .form {
    .column {
      flex-wrap: wrap;
    }

    .input-group {
      margin-bottom: 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .card {
    margin-inline: 3rem;
  }

  .form {
    .input-group {
      margin-bottom: 1.2rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .card {
    margin-inline: 6rem;
  }

  .form {
    .input-group {
      margin-bottom: 1.4rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    margin-inline: 10rem;
  }
  .form {
    .input-group {
      margin-bottom: 1.6rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
  .card {
    margin-inline: 15rem;
  }

  .form {
    .input-group {
      margin-bottom: 1.8rem;
    }
  }
}

.card {
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  padding: 1rem;
}


.boton-1 {
  height: 46px;
  width: 100%;

}
