<div class="contianer">
  <div class="card" style="width: 100%; padding-bottom: 1rem;">
    <div class="title">
      <h3>PANEL DE CONTROL</h3>
      <hr />
    </div>

    <div class="card-dody">
      <div class="charts">
        <div class="card">
          <div class="card-body">
            <div class="graficos">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body body-container-chart">
            <div class="graficos">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="graficos">
              <canvas id="myChart3"></canvas>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="graficos">
              <canvas id="myChart4"></canvas>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="graficos">
              <canvas id="myChart5"></canvas>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="graficos">
              <canvas id="myChart6"></canvas>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
</div>
