@if(plcInfo){
  <div *ngFor="let category of plcInfo">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" [id]="generateUniqueId(category.categoria, 'category-')">
          <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse-' + generateUniqueId(category.categoria, 'category-')" aria-expanded="true" [attr.aria-controls]="'collapse-' + generateUniqueId(category.categoria, 'category-')">
            {{category.categoria}}
          </button>
        </h2>
        <div [id]="'collapse-' + generateUniqueId(category.categoria, 'category-')" class="accordion-collapse collapse show" [attr.aria-labelledby]="generateUniqueId(category.categoria, 'category-')" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div *ngFor="let subCategory of category.valores">
              <div class="accordion" [id]="'accordionExample-' + generateUniqueId(category.categoria, 'category-')">
                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="generateUniqueId(subCategory.subcategoria, 'subCategory-')">
                    <button class="accordion-button collapsed" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse-' + generateUniqueId(subCategory.subcategoria, 'subCategory-')" aria-expanded="false" [attr.aria-controls]="'collapse-' + generateUniqueId(subCategory.subcategoria, 'subCategory-')">
                      {{subCategory.subcategoria}}
                    </button>
                  </h2>
                  <div [id]="'collapse-' + generateUniqueId(subCategory.subcategoria, 'subCategory-')" class="accordion-collapse collapse" [attr.aria-labelledby]="generateUniqueId(subCategory.subcategoria, 'subCategory-')" [attr.data-bs-parent]="'#accordionExample-' + generateUniqueId(category.categoria, 'category-')">
                    <div class="accordion-body">
                      <ul>
                        <li *ngFor="let field of subCategory.valores">
                          <strong>{{field.campo}}:</strong> {{field.valor}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
