<div class="container-navbar">
  <div class="navbar">
    <div class="side-nav-button p-2 me-3 text-light">
      <i class="fa-solid fa-bars menu-toggle" (click)="SideNavToggle()"></i>
     <!--  <img
        src="assets/imgs/logos/logo2.svg"
        alt="logo_chibuleo"
        class="logo no-pointer"
        style="cursor: pointer" 
      /> -->
    </div>

    <div class="avatar-container">
      <div class="info">
        <img
        src="assets/imgs/icons/notificacion.png"
        alt="avatar"
        class="avatar"
        title="Notificaciones"
      />
        <img
        src="assets/imgs/icons/configuracion.png"
        alt="avatar"
        class="avatar"
        title="Configuración"
      />
        <img
          src="assets/imgs/icons/avatar.png"
          alt="avatar"
          class="avatar"
          title="Perfil"
        />
        <div class="name">
          <p>N&P Automation</p>
        <!--   <p class="salir" (click)="salir()" >Salir</p> -->
        </div>
        <div class="top"></div>
      </div>
    </div>
  </div>
  <div class="line"></div>
</div>
