<div class="container-navbar">
  <div class="navbar">
    <div class="side-nav-button p-2 me-3 text-light">
      <i class="fa-solid fa-bars menu-toggle" (click)="SideNavToggle()"></i>
      <img
        src="assets/imgs/logos/logo2.svg"
        alt="logo_chibuleo"
        class="logo no-pointer"
        style="cursor: pointer" 
      />
    </div>

    <div class="avatar-container">
      <div class="info">
        <img
          src="https://i.pinimg.com/originals/21/46/f9/2146f9d0746d1518157a52105311be2d.png"
          alt="avatar"
          class="avatar"
        />
        <div class="name">
          <p>N&P Automation</p>
          <p class="salir" (click)="salir()" >Salir</p>
        </div>
        <div class="top"></div>
      </div>
    </div>
  </div>
  <div class="line"></div>
</div>
