@import "../../../../styles.scss";

.sidenav {
    transition: all .5s ease;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    border-top: 2px solid $color-borde;
    border-right: 2px solid $color-borde;
    // border-bottom: 2px solid $color-borde;
    border-left: none;
    background: #fff;
    box-shadow: 0.063rem 0 1.25rem 0 $color-borde;
    width: 5rem;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem;
        width: 100%;

        .logo {
            text-align: center;
            width: 3rem;
            padding: 0.313rem;
            font-size: 20px;
            font-weight: 900;
            cursor: pointer;
            border: 2px solid $color-borde-icono;
            border-radius: 50%;
        }

        .logo-text {
            padding-left: 0.5rem;
            padding-right: 1.5rem;
            font-size: $tamano-fuente-1;
            font-weight: 500;
            line-height: 27px;
            text-align: left;            
        }

        .btn-close {
            width: 2.5rem;
            background-color: transparent;
        }
    }
}

.sidenav-collapsed {
    // width: 16.5625rem;
    width: 18rem;
}

.sidenav-nav {
    list-style: none;
    padding-inline: 0.9rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        padding-block: 0.3rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 2rem;
            color: #000;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;
        
            .sidenav-link-icon {
                width: 1.25rem;
                min-width: .75rem;
                margin-left: .75rem;
                text-align: center;
            }
        
            .sidenav-link-text {
                margin-left: 1rem;
                color: #000;
                font-family: Poppins;
                font-size: $tamano-fuente-2;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
            }
        
            .menu-collapse-icon {
                font-size: 25px;
                margin-left: auto;
                padding-right: 1rem;
            }
        }

        .sidenav-nav-link:hover {
            background-color: $color-hover;
            border-radius: 0.625rem;

            .sidenav-link-text {
                margin-left: 1rem;
                color: $color-1;
            }
        }
    }

    .sidenav-nav-item:hover {
        background-color: $color-hover;
        color: $color-1;
        border-radius: 0.625rem;
    }
}

.active {
    background-color: $color-hover;
    color: $color-1;

    .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: $color-1;
    }
}

//scrollbar and visibility on hover and focus
.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}

// works on firefox
.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556268 transparent;
}

/** Sublevel style */
.sublevel-nav {
    list-style: none;
    padding-inline: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Ajustar si deseas alinear a la izquierda

    .sublevel-nav-item {
        width: 100%;
        padding-block: 0.3rem;

        .sublevel-nav-link {
            margin-left: 1rem;
            display: flex;
            align-items: center;
            height: 2rem;
            color: #000;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;
            padding-left: 1rem;
            font-size: $tamano-fuente-2;

            .sidenav-link-icon {
                width: 1.25rem;
                min-width: .75rem;
                margin-left: .75rem;
                text-align: center;
            }

            .sublevel-link-text {
                margin-left: 1rem;
                color: #000;
                font-family: Poppins;
                font-size: $tamano-fuente-1;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
            }

            .menu-collapse-icon {
                font-size: 25px;
                margin-left: auto;
                padding-right: 1rem;
            }
        }

        .sublevel-nav-link:hover {
            border-radius: 0.625rem;
            background-color: $color-hover;
            .sublevel-link-text {
                color: #000;
            }
        }

        .active-sublevel {
            background-color: $color-hover;

            .menu-collapse-icon,
            .sidenav-link-icon,
            .sublevel-link-text {
                color: $color-1;
            }
        }
    }

    .sublevel-nav-item:hover {
        background-color: $color-hover;
        color: $color-1;
        border-radius: 0.625rem;
    }
}