<div class="screen1" *ngIf="screen1">
  <div class="map-container">
    <div id="map" class="map"></div>
    <!-- <div id="geocoder" class="geocoder"></div> -->
  </div>

  <div class="derecha">
    <div class="titulo">
      <h2>Ubicación de equipos</h2>
    </div>

    <div class="card-list">
      @for (item of arrayEquipos; track $index) {
      <div class="card">
        <div class="card-body container-card-info" style="cursor: pointer;" [routerLink]="getRuta(item)"
          routerLinkActive="router-link-active">


          <div class="informacion">
            <h6>Nombre del equipo:</h6>
            <h4>{{ item.nombre | uppercase }}</h4>
          </div>

          <div class="ubicacion">
            <p>
              <i class="fa-solid fa-location-dot"></i> {{ item.ubicacion }}, Ecuador
            </p>

            <p style="font-size: 14px; font-weight: 300; text-align: left; color: #727272; margin-bottom: 0px;">
              <i class="fa-solid fa-screwdriver-wrench"></i> {{ item.ip }}
            </p>
          </div>

          <!-- Solo mostrar estado si es tipo variador -->
          <div class="estado-variador">
            @if (item.tipo === 'variador') {

            <span [ngClass]="{
                'estado-run': item.estado === 'RUN',
                'estado-falla': item.estado === 'FALLA',
                'estado-ready': item.estado === 'READY'
              }">
              <i class="fa-solid" [ngClass]="{
                     'fa-circle text-success': item.estado === 'RUN',
                     'fa-circle text-danger': item.estado === 'FALLA',
                     'fa-circle text-warning': item.estado === 'READY'
                   }"></i>
              Estado: {{ traducirNombre(item.estado) }}
            </span>
            }

          </div>

          <div class="imagen">
            <img [src]="item.imagen" alt="" style="width: 75px; height: 100px; object-fit: contain;" />
          </div>
        </div>
      </div>
      }

    </div>
  </div>
</div>