<div class="screen1" *ngIf="screen1">
  <div class="map-container">
    <div id="map" class="map"></div>
    <!-- <div id="geocoder" class="geocoder"></div> -->
  </div>

  <div class="derecha">
    <div class="titulo">
      <h2>Ubicación de equipos</h2>
    </div>

    <div class="card-list">
      @for (item of arrayEquipos; track $index) {
      <div class="card-body container-card-info" style="cursor: pointer;" [routerLink]="['../../monitoreo/instrumentacion-medidores', item.ip, 'pantalla-medidores']"
      routerLinkActive="router-link-active" > 
        <div class="informacion">
          <h6>Nombre del equipo:</h6>
          <h4>{{ item.nombre | uppercase }}</h4>
        </div>
        <div class="ubicacion">
          <p>
            <i class="fa-solid fa-location-dot"></i> {{ item.ubicacion }},
            Ecuador
          </p>
        </div>

          <p style=" font-size: 14px;
          font-weight: 300;
          text-align: left;
          color: #727272;
          margin-bottom: 0px;">
            <i class="fa-solid fa-screwdriver-wrench"></i> {{ item.ip  }}
          </p>
  
        <div class="imagen">
          <img src="assets/imgs/medidor.svg" alt="" />
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div class="card" *ngIf="screen2">
  <div class="card-body">
    <div class="title">
      <h3>
        <i
          class="fa fa-arrow-left"
          aria-hidden="true"
          (click)="cambiarScreen(1)"
          style="margin-right: 1rem"
        ></i>
        Lista de equipos
      </h3>
      <hr />
    </div>
    <div class="listado">
      <div class="card" style="width: 100%; max-width: 23rem">
        <div class="card-body">
          <div class="img">
            <img
              src="assets/demos/CompresorDePistonDeDosPasos.gif"
              alt=""
              style="width: 300px; height: 200px"
            />
          </div>
          <div class="info">
            <h4>COMPRESOR XYZ</h4>
            <a
              class="btn btn-primary"
              [routerLink]="['/demos/demo1']"
              routerLinkActive="router-link-active"
              >Revisar</a
            >
          </div>
        </div>
      </div>
      <!--      <div class="card" *ngFor="let item of arrayReportes">
        <div class="card-body">
          <div class="img">
            <img [src]="item.image" alt="" />
          </div>
          <div class="info">
            <h4>{{ item.name }}</h4>
            <a class="btn btn-primary">Revisar</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<ngx-gauge
  [type]="'arch'"
  [value]="90"
  [label]="'Energía'"
  [append]="'kW/h'"
  [min]="0"
  [max]="100"
  [thresholds]="thresholdConfig"
  [thick]="15"
  [animate]="true"
  [markers]="markerConfig"
>
  >
</ngx-gauge>
