<div class="container-fluid" *ngIf="!screenOrometro" style="margin-top: 1.5rem;">
  <div class="titulo-seccion">
    <h1>MANTENIMIENTO</h1>
    <h2>Lista de Variadores</h2>
  </div>

  
  <div class="row">
    @for (item of equipos; track $index) {
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow tarjeta-equipo">
          <div class="card-body card-mantenimiento d-flex flex-column flex-md-row align-items-center">
            <div class="imagen me-3 text-center">
              <img
                [src]="item.imagen"
                alt="img_comprensor"
                class="img-fluid"
                style="max-height: 100px; object-fit: contain"
              />
              <div class="horas-trabajadas">
                <h3>{{ item?.totalHoras }}</h3>
                <p>Horas trabajadas</p>
              
                <div *ngIf="item.totalHorasSuma">
                  <small class="text-muted">
                    Total acumulado: {{ item.totalHorasSuma }}
                  </small>
                </div>
              </div>
              
            </div>

            <div class="flex-fill">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="info-block mb-2">
                  <h5 class="text-muted">Nombre</h5>
                  <h4>{{ item.nombre }}</h4>
                </div>

                <div class="info-block mb-2">
                  <h5 class="text-muted">Modelo</h5>
                  <h4>{{ item.modelo }}</h4>
                </div>

                <div class="info-block mb-2">
                  <h5 class="text-muted">Serie</h5>
                  <h4>{{ item.serie }}</h4>
                </div>

                <div class="info-block mb-2">
                  <h5 class="text-muted">Área</h5>
                  <h4>{{ item.area | uppercase }}</h4>
                </div>

                <div class="info-block mb-2">
                  <h5 class="text-muted">IP</h5>
                  <h4>{{ item.ip }}</h4>
                </div>

               
              </div>

              <div class="text-end mt-3">
                <button class="btn btn-primary" (click)="reiniciarHorometro(item)">
                  <i class="bi bi-arrow-clockwise me-1"></i> Reiniciar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
