<div class="side-nav-content">
  <ul class="nav-list scroll">
    <div class="nav-list-item-header card">
      <div class="card-body">
        <img src="assets/imgs/logos/logo.svg" alt="" class="logo1" />
        <label class="leyenda">Control total de tus equipos industriales</label>
      </div>
    </div>
    <div class="nav-list-item card" *ngFor="let nivel1_menu of menu">
      <div
        class="card-body menu"
        [class.selected-menu]="nivel1_menu.isSelected"
        (click)="[toggleMenu(nivel1_menu), goToPage(nivel1_menu.route)]"
      >
        <div class="info">
          <img [src]="nivel1_menu.icon" alt="" class="icon" />
          <label>{{ nivel1_menu.name }}</label>
        </div>

        <img
          src="assets/imgs/icons/arrow-down.png"
          alt=""
          class="arrow"
          *ngIf="nivel1_menu.submenus"
          [class.rotate-image]="nivel1_menu.isSelected"
          [class.original-state]="!nivel1_menu.isSelected"
        />
      </div>
      <div
        class="card-body sub-menu-item"
        *ngIf="nivel1_menu.submenus && nivel1_menu.isSelected"
        [ngClass]="{ 'fade-in': nivel1_menu.isSelected }"
      >
        <li
          *ngFor="let nivel2_menu of nivel1_menu.submenus"
          (click)="[selectedSubMenu(nivel2_menu), goToPage(nivel2_menu.route)]"

        >
          <div
            class="container-sub-menu"
            [class.selected-submenu]="nivel2_menu.isSelected"
          >
            <div class="container-img-label-submen">
              <img
                [src]="nivel2_menu.icon"
                alt=""
                class="icon"
                style="width: 25px"
              />
              <label style="margin-left: 10px">{{ nivel2_menu.name }}</label>
            </div>
            <img
              src="assets/imgs/icons/arrow-down.png"
              alt=""
              class="arrow"
              style="margin-right: 10px"
              *ngIf="nivel2_menu.submenus"
              [class.rotate-image]="nivel2_menu.isSelected"
              [class.original-state]="!nivel2_menu.isSelected"
            />
          </div>
          <div
            class="card-body sub-sub-menu-item"
            *ngIf="nivel2_menu.submenus && nivel2_menu.isSelected"
            [ngClass]="{ 'fade-in': nivel2_menu.isSelected }"
          >
            <li
              *ngFor="let nivel3_menu of nivel2_menu.submenus"
              [class.selected-submenu]="nivel3_menu.isSelected"
              (click)="
                [
                  selectedSubSubMenu(nivel3_menu),
                  goToPage(nivel3_menu.route),
                  $event.stopPropagation()
                ]
              "
              [routerLink]="nivel3_menu.route"
            >
              <img
                [src]="nivel3_menu.icon"
                alt=""
                class="icon"
                style="width: 25px"
              />
              <label>{{ nivel3_menu.name }}</label>
            </li>
          </div>
        </li>
      </div>
    </div>
  </ul>
</div>
