<div class="container-fluid">

  <div class="flex-container">
    <div class="item">
      <h1>MONITOREO</h1>
    </div>
    <div class="item"></div>
  </div>

  <div class="flex-container">
    <div class="item">
      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['./../../gestion/variadores']">Lista de Variadores</a></li>
          <li class="breadcrumb-item active" aria-current="page">Variador</li>
        </ol>
      </nav>
    </div>
    <div class="item"></div>
  </div>

  <div class="card card-container">
    <div class="card-body">
      @for ( item of menu; track $index) {
      <div class="item card" [routerLink]="[item.path]" [class.selected-menu]="item.isSelected">
        <label for="item" class="nombre">{{item.nombre}}</label>
      </div>
      }
    </div>
  </div>
</div>

<div class="data">
  <router-outlet></router-outlet>
</div>

