<div class="filters">
    <div class="item">
        <app-search [label]="'Buscar por nombre'" (searchText)="textoFiltrado($event)"></app-search>
    </div>

    <div class="item">
        <button type="button" class="btn boton-1 " (click)="abrirModal(modalPermiso)">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear nuevo perfil
        </button>
    </div>
</div>

<ng-template #modalPermiso let-modal>
    <form [formGroup]="formPermiso">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" (click)="modalPermisosRef?.hide()">
                Cancelar
            </button>
            <button class="btn btn-primary" [disabled]="formPermiso.invalid">
                Guardar
            </button>
        </div>
    </form>
</ng-template>

<div style="margin-top: 1rem;" class="row"></div>

<div class="container-tabla">
    <div class="table-responsive">
        <table class="table align-middle table-bordered table-bordered-sides">
            <thead>
                <tr>
                    <th>PERFIL</th>
                    <th>PERMISOS</th>
                    <th>ACCIONES</th>

                </tr>
            </thead>
            <tbody>
                @for(item of perfiles; track item)
                {
                <tr>
                    <td>
                        <h5> {{item.nombre}} </h5>
                    </td>

                    <td>
                        @for (permiso of item.permisos; track $index) {
                            @if(permiso.estado) {
                                <p>{{permiso.descripcion}}</p>
                            }                        
                        }
                    </td>

                    <td>
                        <button class="btn btn-primary" (click)="abrirModal(modalDispositivo, item)">
                            Editar
                        </button>

                        <p></p>


                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>
</div>


<ng-template #modalDispositivo let-modal>
    <form [formGroup]="formPermiso">
        <div class="modal-body">
            <h4>{{ perfilSeleccionado ? "Editar Permiso" : "Nuevo Permiso" }}</h4>
 
            <div class="row">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input formControlName="nombre" class="form-control" />
                </div>    
            </div>

            <h1></h1>

            <div class="row">
                @for (item of perfilSeleccionado.permisos; track $index) {
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mb-2">
                        <div class="item-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" 
                                    [checked]="item.estado"
                                    [(value)]="item.estado"
                                    (change)="checkModulo(item)" 
                                    type="checkbox"
                                    [name]="item.descripcion" />
                                <label class="form-check-label"> {{item.descripcion}} </label>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" (click)="modalPermisosRef?.hide()">
                Cancelar
            </button>

            @if (perfilSeleccionado) {
                <button class="btn btn-primary" [disabled]="formPermiso.invalid" (click)="editarPermiso()">
                    Guardar
                </button>
            } @else {
                <button class="btn btn-primary" [disabled]="formPermiso.invalid" (click)="createPermiso()">
                    Guardar
                </button>
            }
        </div>
    </form>
</ng-template>