<div class="filters">
    <div class="item">
        <app-search [label]="'Buscar por nombre'" (searchText)="textoFiltrado($event)"></app-search>
    </div>

    <div class="item">
        <button type="button" class="btn boton-1 " (click)="abrirModal(modalDispositivo)">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear nuevo perfil
        </button>
    </div>
</div>

<ng-template #modalDispositivo let-modal>
    <form [formGroup]="formDispositivo">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" (click)="modalDispositivoRef?.hide()">
                Cancelar
            </button>
            <button class="btn btn-primary" [disabled]="formDispositivo.invalid">
                Guardar
            </button>
        </div>
    </form>
</ng-template>

<div style="margin-top: 1rem;" class="row"></div>

<div class="container-tabla">
    <div class="table-responsive">
        <table class="table align-middle table-bordered table-bordered-sides">
            <thead>
                <tr>
                    <th>PERFIL</th>
                    <th>PERMISOS</th>
                    <th>ACCIONES</th>

                </tr>
            </thead>
            <tbody>
                @for(item of perfiles; track item)
                {
                <tr>
                    <td>
                        <h5> {{item.nombre}} </h5>
                    </td>

                    <td>
                        @for (permiso of item.permisos; track $index) {
                        <p>{{permiso.descripcion}}</p>
                        }
                    </td>

                    <td>
                        <button class="btn btn-primary" (click)="abrirModal(modalDispositivo, item)">
                            Editar
                        </button>

                        <p></p>


                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>
</div>