.container {
    .card{
        border: none;
        .title{
            padding: 1rem;
          
          color: #105FBB;
          h3{
            font-size: $tamano-fuente-1;
            font-weight: 700;
          }
          }
        .grafico {
            display: flex;
            justify-content: space-around;
            align-items: center;
           
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
            .grafico1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #c7c7c7;
                border-radius: 10px;
                padding: 10px;
                img{
                    width: 150px;
                    height: 150px;
                }
            }
            .detalle-grafico{
                max-width: 300px;
                width: 100%;
                height: 360px;
                border: 1px solid #c7c7c7;
                border-radius: 10px;
                padding: 10px;
                .detalle-titulo{
                    font-size: $tamano-fuente-1;
                    text-align: center;
                    color: #2A2F35;
                }   
                .detalle-items{
                    .item{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: space-between;
                        color: #2A2F35;
                        gap: .5rem;
                        label{
                            font-size: $tamano-fuente-1;
                            padding: .4rem;
                        }
                        label:nth-child(2) {
                            font-weight: bold;
                        }
                    }
                }
                
            }
            .historial-grafico{
                max-width: 300px;
                width: 100%;
                height: 360px;
                border: 1px solid #c7c7c7;
                border-radius: 10px;
                padding: 10px 0px;
                .historial-titulo{
                    font-size: $tamano-fuente-1;
                    text-align: center;
                    color: #2A2F35;
                }   
                .historial-items{
                    display: flex;
                    flex-direction: column;
                    gap: .1rem;
                    overflow-y: auto;
                    max-height: 310px;
                    
                    .item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        color: #2A2F35;
                        gap: .5rem;
                        padding: .3rem;
                        label{
                            font-size: $tamano-fuente-1;
                            padding: .4rem;
                        }
                        
                    }
                    .item:nth-child(1){
                      
                        color: #BF230E;
                        background-color: #FFEEF2;
                    }
                    .item:nth-child(2){
                      
                        color: #BF230E;
                        background-color: #FFEEF2;
                    }
                    .item:nth-child(3){
                      
                        color: #957E0E;
                        background-color: #FFFBD5;
                    }
                    .item:nth-child(4){
                      
                        color: #0e9536;
                        background-color: #d5ffdf;
                    }
                    .item:nth-child(5){
                      
                        color: #957E0E;
                        background-color: #FFFBD5;
                    }
                    .item:nth-child(6){
                      
                        color: #0e9536;
                        background-color: #d5ffdf;
                    }
                }
                
            }
            .grafico2{
                img{
                    width: 600px;
                    height: 600px;
                    max-height: 20rem;
                }
            }
          }
    }
 
}


.alert{
    transition: box-shadow 0.3s ease; 
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
        transform: translateY(-3px);
    }
}

.fa-arrow-left{
    &:hover{
        cursor: pointer;
    }
}
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .chart-container {
    width: 100%;
    max-height: 400px;
    display: grid;
    place-items: center;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 800px) {
    .charts {
        grid-template-columns: 1fr;
    }
  }
  
  .form-group{
    margin-top: 1rem;
    label{
        margin-bottom: .5rem;
    }
  }