<div class="container-fluid" *ngIf="plcMedidor">
  <!-- Tarjeta principal -->
  <div class="card tarjeta-equipo-schneider">
    <div class="contenido">
      <!-- Imagen -->
      <div class="equipo-img">
        <img [src]="plcMedidor.imagen" alt="Equipo" />
      </div>

      <!-- Datos -->
      <div class="equipo-info">
        <div class="titulo-nombre">
          <h2>{{ plcMedidor.nombre }}</h2>
        </div>

        <div class="info-line">
          <label>Product Range</label>
          <span>{{ plcMedidor.tipo?.toUpperCase() }}5000</span>
        </div>

        <div class="info-line">
          <label>Product Model</label>
          <span>{{ plcMedidor.modelo }}</span>
        </div>

        <div class="info-line">
          <label>Serial Number</label>
          <span>{{ plcMedidor.serie }}</span>
        </div>

        <div class="info-line">
          <label>Date/Time</label>
          <span>{{ plcInfo?.fecha | date : "dd/MMMM/yyyy HH:mm:ss" }}</span>
        </div>

        <div class="info-line connection">
          <button class="btn-disconnect">CONNECT</button>
        </div>
      </div>
    </div>
  </div>
  <p-tabView (onChange)="onTabChange($event.index)">
    <!-- Tab: Información del Medidor -->
    <p-tabPanel header="Información">
      <div class="tarjetas-grid" *ngIf="plcInfo">
        <!-- Corriente -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Corriente</h2>
            <button (click)="showCorriente = !showCorriente">
              {{ showCorriente ? "Ocultar" : "› Más" }}
            </button>
          </div>
          <table>
            <tr class="destacado">
              <td><strong>Total</strong></td>
              <td>
                <strong>{{ plcInfo.CORRIENTE_TOT }} A</strong>
              </td>
            </tr>
            <tr>
              <td>Corriente A</td>
              <td>{{ plcInfo.CORRIENTE_A }} A</td>
            </tr>
            <tr>
              <td>Corriente B</td>
              <td>{{ plcInfo.CORRIENTE_B }} A</td>
            </tr>
            <tr>
              <td>Corriente C</td>
              <td>{{ plcInfo.CORRIENTE_C }} A</td>
            </tr>
            <tr *ngIf="showCorriente">
              <td>THD A</td>
              <td>{{ plcInfo.THD_COR_A }} %</td>
            </tr>
            <tr *ngIf="showCorriente">
              <td>THD B</td>
              <td>{{ plcInfo.THD_COR_B }} %</td>
            </tr>
            <tr *ngIf="showCorriente">
              <td>THD C</td>
              <td>{{ plcInfo.THD_COR_C }} %</td>
            </tr>
          </table>
        </div>

        <!-- Voltaje -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Voltaje</h2>
            <button (click)="showVoltaje = !showVoltaje">
              {{ showVoltaje ? "Ocultar" : "› Más" }}
            </button>
          </div>
          <table>
            <tr class="destacado">
              <td><strong>Total</strong></td>
              <td>
                <strong>{{ plcInfo.VOLTAJE_TOT }} V</strong>
              </td>
            </tr>
            <tr>
              <td>Voltaje AB</td>
              <td>{{ plcInfo.VOLTAJE_AB }} V</td>
            </tr>
            <tr>
              <td>Voltaje BC</td>
              <td>{{ plcInfo.VOLTAJE_BC }} V</td>
            </tr>
            <tr>
              <td>Voltaje CA</td>
              <td>{{ plcInfo.VOLTAJE_CA }} V</td>
            </tr>
            <tr *ngIf="showVoltaje">
              <td>THD AB</td>
              <td>{{ plcInfo.TH_DBA }} %</td>
            </tr>
            <tr *ngIf="showVoltaje">
              <td>THD BC</td>
              <td>{{ plcInfo.TH_DBC }} %</td>
            </tr>
            <tr *ngIf="showVoltaje">
              <td>THD CA</td>
              <td>{{ plcInfo.TH_DCA }} %</td>
            </tr>
          </table>
        </div>

        <!-- Potencia -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Potencia</h2>
            <!--    <button (click)="showPotencia = !showPotencia">
              {{ showPotencia ? 'Ocultar' : '› Más' }}
            </button> -->
          </div>
          <table>
            <tr class="destacado">
              <td><strong>Total</strong></td>
              <td>
                <strong>{{ plcInfo.POT_TOT }} kW</strong>
              </td>
            </tr>
            <tr>
              <td>Potencia A</td>
              <td>{{ plcInfo.POT_A }} kW</td>
            </tr>
            <tr>
              <td>Potencia B</td>
              <td>{{ plcInfo.POT_B }} kW</td>
            </tr>
            <tr>
              <td>Potencia C</td>
              <td>{{ plcInfo.POT_C }} kW</td>
            </tr>
          </table>
        </div>

        <!-- Factor de Potencia -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Factor de Potencia</h2>
            <!--   <button (click)="showFp = !showFp">
              {{ showFp ? 'Ocultar' : '› Más' }}
            </button> -->
          </div>
          <table>
            <tr class="destacado">
              <td><strong>Total</strong></td>
              <td>
                <strong>{{ plcInfo.FPOT_TOT }}</strong>
              </td>
            </tr>
            <tr>
              <td>FP A</td>
              <td>{{ plcInfo.FPOT_A }}</td>
            </tr>
            <tr>
              <td>FP B</td>
              <td>{{ plcInfo.FPOT_B }}</td>
            </tr>
            <tr>
              <td>FP C</td>
              <td>{{ plcInfo.FPOT_C }}</td>
            </tr>
          </table>
        </div>

        <!-- Frecuencia -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Frecuencia</h2>
          </div>
          <table>
            <tr class="destacado">
              <td><strong>FHZ Total</strong></td>
              <td>
                <strong>{{ plcInfo.FHZ_TOT }} Hz</strong>
              </td>
            </tr>
          </table>
        </div>

        <!-- Energía -->
        <div class="card-tarjeta">
          <div class="card-header">
            <h2>Energía</h2>
          </div>
          <table>
            <tr class="destacado">
              <td><strong>Energia Total</strong></td>
              <td>
                <strong>{{ plcInfo.ENERG }} kWh</strong>
              </td>
            </tr>
          </table>
        </div>
          <!-- Frecuencia -->
      <div class="card-tarjeta">
        <div class="card-header">
          <h2>Frecuencia</h2>
        </div>
        <table>
          <tr class="destacado">
            <td><strong>Total</strong></td>
            <td>
              <strong>{{ plcInfo.FHZ_TOT }} Hz</strong>
            </td>
          </tr>
          <tr>
            <td>Fase A</td>
            <td>{{ plcInfo.FHZ_A }} Hz</td>
          </tr>
          <tr>
            <td>Fase B</td>
            <td>{{ plcInfo.FHZ_B }} Hz</td>
          </tr>
          <tr>
            <td>Fase C</td>
            <td>{{ plcInfo.FHZ_C }} Hz</td>
          </tr>
        </table>
      </div>

      <!-- Harmónicos -->
      <div class="card-tarjeta">
        <div class="card-header">
          <h2>Harmónicos</h2>
          <button (click)="showHarm = !showHarm">
            {{ showHarm ? "Ocultar" : "› Más" }}
          </button>
        </div>
        <table>
          <tr class="destacado">
            <td><strong>HARM</strong></td>
            <td>
              <strong>{{ plcInfo.HARM }}</strong>
            </td>
          </tr>
          <tr>
            <td>HARM MG</td>
            <td>{{ plcInfo.HARM_MG }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 3</td>
            <td>{{ plcInfo.HARM3 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 5</td>
            <td>{{ plcInfo.HARM5 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 7</td>
            <td>{{ plcInfo.HARM7 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 9</td>
            <td>{{ plcInfo.HARM9 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 11</td>
            <td>{{ plcInfo.HARM11 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 13</td>
            <td>{{ plcInfo.HARM13 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 15</td>
            <td>{{ plcInfo.HARM15 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 17</td>
            <td>{{ plcInfo.HARM17 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 19</td>
            <td>{{ plcInfo.HARM19 }}</td>
          </tr>
          <tr *ngIf="showHarm">
            <td>HARM 21</td>
            <td>{{ plcInfo.HARM21 }}</td>
          </tr>
        </table>
      </div>
      </div>

    </p-tabPanel>

    <!-- Tab: Gráficos -->
    <p-tabPanel header="Indicadores">
      <div class="filtros-horizontales">
        <label for="fechaInicio">🗓️ Inicio:</label>
        <input
          id="fechaInicio"
        type="date"
          [(ngModel)]="fechaInicio"
        />

        <label for="fechaFin">🗓️ Fin:</label>
        <input id="fechaFin" type="date" [(ngModel)]="fechaFin" />

        <button class="btn-consultar" (click)="getDataMedidor()">
          🔍 Consultar
        </button>
      </div>
      <div class="dashboard-layout">
        <div class="widget-card">
          <h3 class="widget-title">Consumo total de energía por equipo</h3>

          <apx-chart
            *ngIf="consumoEnergiaPieChart"
            [series]="consumoEnergiaPieChart.series"
            [chart]="consumoEnergiaPieChart.chart"
            [labels]="consumoEnergiaPieChart.labels"
            [tooltip]="consumoEnergiaPieChart.tooltip"
            [dataLabels]="consumoEnergiaPieChart.dataLabels"
            [legend]="consumoEnergiaPieChart.legend"
          ></apx-chart>
          <div class="totales mt-3">
            <p><strong>🔋 Total energía:</strong> {{ totalEnergiaKwh }} kWh</p>
            <p><strong>💵 Total costo:</strong> ${{ totalCostoEnergia }}</p>
          </div>
        </div>
        <!-- 🔌 Voltaje total PM -->
        <div class="widget-card">
          <h3 class="widget-title">🔌 Voltaje total</h3>
          <apx-chart
            [series]="voltajeChart.series"
            [chart]="voltajeChart.chart"
            [xaxis]="voltajeChart.xaxis"
            [yaxis]="voltajeChart.yaxis"
            [plotOptions]="voltajeChart.plotOptions"
            [dataLabels]="voltajeChart.dataLabels"
            [tooltip]="voltajeChart.tooltip"
          >
          </apx-chart>
        </div>

        <!-- ⚡ Corriente total PM -->
        <div class="widget-card">
          <h3 class="widget-title">⚡ Corriente total</h3>
          <apx-chart
            [series]="corrienteChart.series"
            [chart]="corrienteChart.chart"
            [xaxis]="corrienteChart.xaxis"
            [yaxis]="corrienteChart.yaxis"
            [plotOptions]="corrienteChart.plotOptions"
            [dataLabels]="corrienteChart.dataLabels"
            [tooltip]="corrienteChart.tooltip"
          >
          </apx-chart>
        </div>

        <!-- 💡 Potencia total PM -->
        <div class="widget-card">
          <h3 class="widget-title">💡 Potencia total</h3>
          <apx-chart
            [series]="potenciaChart.series"
            [chart]="potenciaChart.chart"
            [xaxis]="potenciaChart.xaxis"
            [yaxis]="potenciaChart.yaxis"
            [plotOptions]="potenciaChart.plotOptions"
            [dataLabels]="potenciaChart.dataLabels"
            [tooltip]="potenciaChart.tooltip"
          >
          </apx-chart>
        </div>

        <!-- 🔄 Frecuencia total PM -->
        <div class="widget-card">
          <h3 class="widget-title">🔄 Frecuencia total</h3>
          <apx-chart
            [series]="frecuenciaChart.series"
            [chart]="frecuenciaChart.chart"
            [xaxis]="frecuenciaChart.xaxis"
            [yaxis]="frecuenciaChart.yaxis"
            [plotOptions]="frecuenciaChart.plotOptions"
            [dataLabels]="frecuenciaChart.dataLabels"
            [tooltip]="frecuenciaChart.tooltip"
          >
          </apx-chart>
        </div>

        <!-- ⚖️ Factor de potencia total PM -->
        <div class="widget-card">
          <h3 class="widget-title">⚖️ Factor de Potencia</h3>
          <apx-chart
            [series]="fpChart.series"
            [chart]="fpChart.chart"
            [xaxis]="fpChart.xaxis"
            [yaxis]="fpChart.yaxis"
            [plotOptions]="fpChart.plotOptions"
            [dataLabels]="fpChart.dataLabels"
            [tooltip]="fpChart.tooltip"
          >
          </apx-chart>
        </div>
        <!-- 🔁 THD Corriente -->
<div class="widget-card">
  <h3 class="widget-title">🔁 THD de Corriente</h3>
  <apx-chart
    [series]="thdCorrienteChart.series"
    [chart]="thdCorrienteChart.chart"
    [xaxis]="thdCorrienteChart.xaxis"
    [yaxis]="thdCorrienteChart.yaxis"
    [plotOptions]="thdCorrienteChart.plotOptions"
    [dataLabels]="thdCorrienteChart.dataLabels"
    [tooltip]="thdCorrienteChart.tooltip"
  ></apx-chart>
</div>

<!-- 🔀 TH Voltaje -->
<div class="widget-card">
  <h3 class="widget-title">🔀 TH de Voltaje</h3>
  <apx-chart
    [series]="thVoltajeChart.series"
    [chart]="thVoltajeChart.chart"
    [xaxis]="thVoltajeChart.xaxis"
    [yaxis]="thVoltajeChart.yaxis"
    [plotOptions]="thVoltajeChart.plotOptions"
    [dataLabels]="thVoltajeChart.dataLabels"
    [tooltip]="thVoltajeChart.tooltip"
  ></apx-chart>
</div>

      </div>
    </p-tabPanel>
    <p-tabPanel header="Armónicos">
  <div class="filtros-horizontales">
    <label for="fechaInicioHarm">🗓️ Inicio:</label>
    <input
      id="fechaInicioHarm"
      type="date"
      [(ngModel)]="fechaInicio"
    />

    <label for="fechaFinHarm">🗓️ Fin:</label>
    <input id="fechaFinHarm" type="date" [(ngModel)]="fechaFin" />

    <button class="btn-consultar" (click)="getDataMedidor()">
      🔍 Consultar
    </button>
  </div>

  <div class="dashboard-layout">
   <!-- 🔢 Armónicos por orden (dividido en bloques de 3) -->
<div class="widget-card" *ngIf="harmChart1">
  <h3 class="widget-title">🔢 Armónicos H3, H5, H7</h3>
  <apx-chart
    [series]="harmChart1.series"
    [chart]="harmChart1.chart"
    [xaxis]="harmChart1.xaxis"
    [yaxis]="harmChart1.yaxis"
    [plotOptions]="harmChart1.plotOptions"
    [dataLabels]="harmChart1.dataLabels"
    [tooltip]="harmChart1.tooltip"
  [colors]="harmChart1.colors || ['#1abc9c']"

  ></apx-chart>
</div>

<div class="widget-card" *ngIf="harmChart2">
  <h3 class="widget-title">🔢 Armónicos H9, H11, H13</h3>
  <apx-chart
    [series]="harmChart2.series"
    [chart]="harmChart2.chart"
    [xaxis]="harmChart2.xaxis"
    [yaxis]="harmChart2.yaxis"
    [plotOptions]="harmChart2.plotOptions"
    [dataLabels]="harmChart2.dataLabels"
    [tooltip]="harmChart2.tooltip"
    [colors]="harmChart1.colors || ['#1abc9c']"

  ></apx-chart>
</div>

<div class="widget-card" *ngIf="harmChart3">
  <h3 class="widget-title">🔢 Armónicos H15, H17, H19</h3>
  <apx-chart
    [series]="harmChart3.series"
    [chart]="harmChart3.chart"
    [xaxis]="harmChart3.xaxis"
    [yaxis]="harmChart3.yaxis"
    [plotOptions]="harmChart3.plotOptions"
    [dataLabels]="harmChart3.dataLabels"
    [tooltip]="harmChart3.tooltip"
  ></apx-chart>
</div>

<div class="widget-card" *ngIf="harmChart4">
  <h3 class="widget-title">🔢 Armónicos H21</h3>
  <apx-chart
    [series]="harmChart4.series"
    [chart]="harmChart4.chart"
    [xaxis]="harmChart4.xaxis"
    [yaxis]="harmChart4.yaxis"
    [plotOptions]="harmChart4.plotOptions"
    [dataLabels]="harmChart4.dataLabels"
    [tooltip]="harmChart4.tooltip"
   [colors]="harmChart1.colors || ['#1abc9c']"

  ></apx-chart>
</div>
<div class="widget-card" *ngIf="harmChart5">
  <h3 class="widget-title">🔧 Armónicos Totales HARM y HARM_MG</h3>
  <apx-chart
    [series]="harmChart5.series"
    [chart]="harmChart5.chart"
    [xaxis]="harmChart5.xaxis"
    [yaxis]="harmChart5.yaxis"
    [plotOptions]="harmChart5.plotOptions"
    [dataLabels]="harmChart5.dataLabels"
    [tooltip]="harmChart5.tooltip"
    [colors]="harmChart5.colors || ['#2ecc71', '#e74c3c']"
  ></apx-chart>
</div>


  </div>
</p-tabPanel>

  </p-tabView>
</div>
