<div
  class="chart-general-temperatura"
  style="display: grid; place-items: center"
>
  <div
    class="graficos"
    style="
      width: 100% !important;
      height: 50vh;
      display: grid;
      place-items: center;
    "
  >
    <canvas id="myChart"></canvas>
  </div>
</div>
<div
  class="chart-general-presion-estado"
>
 
    <canvas id="myChart2"></canvas>


  <canvas id="myChart3" ></canvas>

</div>

<div
  class="chart-general-temperatura"
  style="display: grid; place-items: center"
>

</div>

<div
  class="chart-general-temperatura"
  style="display: grid; place-items: center"
>
  <div
    class="graficos"
    style="
      width: 100% !important;
      height: 50vh;
      display: grid;
      place-items: center;
    "
  >
    <canvas id="myChart4"></canvas>
  </div>
</div>

